/* framwork ****************************************************/
*{
    margin: 0;
    padding: 0
}
body {
    background: url(../Images/maxresdefault.jpg);
    font-family: 'Open Sans', sans-serif;
    transition: all 1s ease-in-out;
    position: relative;
}

.container {
    width: 70%;
    margin: auto;
}

.hidden{
    display: none;
    transition:all 1 ease-in-out;
}
.bodyOver{
    background: rgba(2, 6, 7,.85);
    background-repeat: repeat;
    width: 100% ;
}
/* start header */ 
.header{
    overflow: hidden;
    color: white;
    padding-top:50px;
}
.header .profile{
    width: 30%;
    float: left;
    margin-top: 50px;
    margin-right: 5%;
    border: 1px solid transparent;
    border-radius: 50px;
    background: rgba(2, 6, 7,.70);
    color: white;
    padding: 1%;
    text-align: center;
    height: 600px;
}
.header .profile .img{
    width: 70%;
    border: 2.5px solid white;
    border-radius: 50%;
    margin-top: 70px;
}

.header .profile .headline1{
    font-size: 22px;
    margin-bottom: 5px;
    color: rgb(0, 93, 173);
    
}
.header .profile .headline2{
    font-size: 18px;
    margin-top: 5px;
}
.header .intro{
    width: 60%;
    float: left;
    margin-top: 50px;
    height: 600px;
}
.header .intro .summary{
    border-radius: 50px;
    border: 1px solid transparent;
    height: 70%;
    background: rgba(2, 6, 7,.70);
    color: white;
    padding: 2%;
    width:100%;
    text-align: center;
}
.header .intro p{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    
}
.header .intro p::first-letter{
    color: rgb(0, 93, 173);
    font-weight: bold;
    font-size: 25px;
}
.header .intro .contact{
    border-radius: 50px;
    border: 1px solid transparent;
    height: 25%;
    background: rgba(2, 6, 7,.70);
    color: white;
    padding: 2%;
    width: 100%;
    margin-top: 2%;
    text-align: center;
}
.intro .contact a , .intro .contact abbr{
    color: white; 
    text-decoration: none;
    font-size: 20px;
}
.follow{
    width: 40%;
    background: transparent;
    border: none;
    border-bottom: 1px rgb(0, 93, 173) solid ;
    border-radius: 10px;
    color: white;
    height: 35px;
    margin-top: 20px;
    text-align: center;
    display: block;
    font-size: 19px;
    margin-bottom: 20px;
    margin-left: 30%;
}
.header .intro .contact i{
    margin-right: 15px;
    font-size: 24px;
    transition: all .5s ease-in-out;
}
.header .intro .contact i:hover{
    color:rgb(0, 93, 173) ;
    transform: scale(1.2,1.2)
}

/* end header */
/* start navbar */

.nav{
    margin-top: 60px;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 50px;
    height: 80px;
    background: rgba(2, 6, 7,.70);
    color: white;
    position: relative;
}
.nav .menuIcon{
position: absolute;
right: 50px;
top: 25%;
font-size: 25px;
color: rgb(0, 93, 173);
}
#menu .sections{
    float: left;
    width: 80%;
    margin-left: 10%;
}
.nav .logo{
    width: 50px;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
    border-bottom: 4px solid rgb(0, 93, 173);
    border-radius: 10px;
}
.logo h3{
    font-size: 24px;
   
    width: 10%;
    padding: 6px;
}

.logo span{
    color: rgb(0, 93, 173);
    padding: 2px;
}
.nav .sections{
    float: right;
    width: 60%;
}
.sections ul{
    overflow: hidden;
    margin-top: 20px;
}
.sections ul li{
   margin-right: 30px;
   float: left;
   list-style: none;
   padding-bottom: 5px;
}

.sections ul li a:hover{
    color:rgb(0, 93, 173) ;
    transform: scale(1.5,1.5);
    cursor: pointer;

}
.sections ul li a{
    text-decoration: none;
    font-size: 22px;
    color: white;
    transition: all .6s ease-in-out;
    
}
/* end navbar */
/* start content/view */
.downloadbtn{
    text-align: center;
    background: transparent;
    border: 1px solid rgb(0, 93, 173);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 15px;
    font-size: 19px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all .7s ease-in-out;
}
.downloadbtn a{
    text-decoration: none;
    color: white;
}
.downloadbtn:hover{
    cursor: pointer;
    background: rgb(0, 93, 173);
    color: white;

}

.content{
    border-radius: 20px;
    margin-top: 25px;
    overflow: hidden;
    background: rgba(2, 6, 7,.70);
    padding: 80px;
    padding-top: 0;
}
.content .h{
    font-size: 28px;
    padding-bottom: 5px;
    margin-bottom: 30px;
    font-weight: bold;
    color: white;
}
.content .h span{
    color: rgb(0, 93, 173);
    border-bottom: 1px solid rgb(0, 93, 173);
    margin-left: 10px;
}
.content .hh{
    font-size: 28px;
    padding-bottom: 5px;
    margin-bottom: 30px;
    font-weight: bold;
    color: white;
}
.content .hh span{
    color: rgb(0, 93, 173);
    border-bottom: 1px solid rgb(0, 93, 173);
    margin-left: 1px;
}
.content .resume{
    position: relative;
    margin-top: 150px;
}
.skills{
    overflow: hidden;
    padding-left: 5%;
    padding-top: 50px;
    width: 100%;
    
}
.skill{
    color: white;
    float: left;
    overflow: hidden;
    width: 20%;
    border-bottom: .2px solid rgb(0, 93, 173);
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 5%;
    transition: all 1s ease-in-out;
    margin-bottom: 20px;
    color: rgb(0, 93, 173);
    text-align: left;

}

.concepts{
    overflow: hidden;
    padding-left: 2%;
    padding-top: 50px;
}
.concepts .con{
    margin-right: 5%;
    color: white;
    width: 45%;
    float: left;
    font-size: 22px;
    margin-bottom: 10px;
}

.concepts .con::first-letter{
    font-size: 30px;
    color: rgb(0, 93, 173);
}
.subHeader{
    color: white;
    font-size: 20px;
    border-bottom: 1px solid rgb(0, 93, 173);
    border-bottom-right-radius: 10px;
    padding: 10px;
    margin: 0;
    margin-bottom: 30px;
}
.eduction{
    width: 100%;
    margin-top: 100px;
}
.ed{
    border-bottom: 1px solid rgb(0, 93, 173);
    border-right: 1px solid rgb(0, 93, 173);
    border-radius: 20px;
    padding-bottom: 10px;
    color: white;
    overflow: hidden;
    position: relative;
}

.ed .year{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20px;
}
.ed .info{
    width: 80%;
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}
.ed img{
    width: 100px;
    float: left;
    height: 100px;
    border-radius: 20px;
    margin-left: 10px;
}
.ed .info .title{
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 93, 173);
    padding-bottom: 5px;
}
.ed .info .con{
    font-size: 22px;
    line-height: 1.7;
    margin-left: 10px;
    
}
.work{
    overflow: hidden;
    width: 100%;
    margin-top: 100px;
}
.project {
    border-bottom: 1px solid rgb(0, 93, 173);
    border-right: 1px solid rgb(0, 93, 173);
    border-radius: 20px;
    padding-bottom: 1px;
    float: left;
    color: white;
    overflow: hidden;
    position: relative;
}
.double{
    width: 45%;
    margin-bottom: 50px;
    margin-right: 4%;
}
.single{
    width: 80%;

    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 10%;;
    margin-right: 10%;
    
}

.links{
    position: absolute;
    bottom: 25px;
    right: 10px;
}
.link{
    color: white;
    text-align: center;
    margin-right: 5px;
    text-decoration: none;
    border-bottom: 1px solid rgb(0, 93, 173);
    border-radius: 5px;
    padding: 10px;
}
.link:hover{
    color: rgb(0, 93, 173);
}
.work .info{
    width: 55%;
    float: right;
    margin-top: 25px;
    margin-bottom: 50px;
}
.poster{
    width: 40%;
    height: 200px;
    float: left;
    border-radius: 10%;
}
.poster:hover {
    transform: scale(.95 , .95);
}
.work .info .title{
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 93, 173);
    padding-bottom: 5px;
}
.work .info .con{
    font-size: 20px;
    line-height: 1.7;
    margin-left: 25px;
    
}
/* end conetnt/ views */
/* start footer */
.footer{
    border-radius: 20px;
    overflow: hidden;
    background: rgba(2, 6, 7,.70);
    margin-top: 50px;
    padding: 20px;
}
.footer p{
    font-size: 20px;
    font-weight: bold;
    color: white;   
    text-align: center;;
}

/* Media ***************************************/
@media (max-width : 1750px) and (min-width : 1301px){
    /* .Header .profile{
        height: 750px;
    }
    .header .profile .img{
        margin-top: 40%;
    }
    .Header .intro{
        height: 750px;
    } */
.container{
    width: 80%;
}

}
@media (max-width : 1400px){
    /* .header .profile{
        width: 80%;
        height: 600px;
        margin-left: 10%;
    }
    .header .profile .img{
        width: 40%;
        margin-top: 50px;
    }

    .Header .intro{
        width: 80%;
        height: 700px;
        margin-left: 10%;
    } */
    .Header .intro , .Header .profile{
        height: 700px;
    }
    .container{
        width: 85%;
    }
}
@media (max-width : 1200px) and (min-width : 750px){
    .header .profile{
        width: 100%;
        height: 600px;
    }
    .header .profile .img{
        width: 40%;
        margin-top: 50px;
    }

    .Header .intro{
        width: 100%;
        height: 700px;
    } 
    .concepts .con{
        width: 90%;
        margin-left: 5%;
    }
    .double{
        width: 100%;
        margin-top: 50px;
        margin-bottom: 100px;
        margin-left: 10pxs;
        margin-right: 0;
    }
}
@media (max-width : 751px){
    .header .profile{
        width:100%;
        height: 600px;
    }
    .header .profile .img{
        width: 60%;
        margin-top: 100px;
    }
    .Header .intro{
        width:100%;
        height: 850px;
    } 
    .header .intro .summary{
        height: 80%;
    }
    .header .intro .contact{
        height: 15%;
        padding: 0;
    }
    .nav .sections ul li{
        margin-right: 20px;
        margin-top: 5px;
     }
    .nav .sections ul li a{
        font-size: 20px; 
    }

    .content{
        overflow: hidden;
        background: rgba(2, 6, 7,.70);
        padding: 25px;
        padding-top: 0;
    }
    .concepts .con{
        width: 90%;
        margin-left: 5%;
    }
    .skills{
        padding-left: 10%;
    }
    .skills .skill{
        width: 30%;
    }
    .double , .single {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 100px;
        margin-left: 10px;
        margin-right: 0;
        padding-bottom: 25px;
    }
    .poster{
        width: 90%;
        height: 200px;
        margin-left: 5%;
    }
    .work .info{
        width: 80%;
        margin-left: 10%;
        float: left;
        margin-top: 25px;
    }
    .work .info .title{
        font-size: 25px;
        font-weight: bold;
        color: rgb(0, 93, 173);
        padding-bottom: 5px;
    }
    .work .info .con{
        font-size: 20px;
        line-height: 1.7;
        margin-left: 25px;
    }


    .normalNav .sections{
        display: none;
    }
    .normalNav .menuIcon{
        display: block;
    }
    .compare{
        display: none;
    }
  .concepts .con{
      word-wrap: break-word;
  }
  .concepts .con span{
      display: none;
  }
}
/* 
@media  (min-width:600px) and (max-width : 990px){  
    .nav .sections{
        display: none;
    }
    .container{
        width: 100%;
    }
    .content .resume .skill{
        width: 90%;
    }
    .downloadbtn{
        padding: 10px;
        font-size: 18px;
    }
    .work .project{
        width: 98%;
        margin-top: 0px;
        margin-left: 0%;;
        margin-bottom: 50px;
        margin-right: 4%;
    }
}
*/
